.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(20px, 5vw, 200px);
}
input {
  max-width: 2000px;
  padding-left: 5px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid rgba(28, 28, 28, 0.5);

  &:focus {
    border: 2px solid rgba(28, 28, 28);
    outline: none;
  }
}

button {
  height: 40px;
  width: 150px;
  background: #1c1c1c;
  color: white;
  font-family: "JetBrains Mono";
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;

  &:hover {
    background: rgba(28, 28, 28, 0.9);
  }
}

.chat {
  margin:auto;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px clamp(20px, 5vw, 200px);
  overflow-y: scroll;
  height: calc(100vh - 180px);
  width: 100%;

  & .message-container {
    display: flex;

    & .message {
      display: inline-flex;
      flex-direction: column;
      min-width: 180px;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: -2px 2px 10px black;
    }

    & h5 {
      text-align: end;
    }


  }

  & .self {
    justify-content: flex-end;

    & .message {
      background-color: #adc0e7;
      align-self: flex-end;
    }
  }
}






